@charset "utf-8";
  .payment input[type=text]{
    width: 40%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .payment input[type=password]{
    width: 40%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .payment input[type=submit] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .payment button[type=submit] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .payment > a#navicon >img {
    width:15%;
    }

  .payment a{
    text-decoration:none;
    color:black;
  }