@charset "utf-8";


button{
    float: right;
    margin-right: 20%;
    padding: 1% 3% 1% 3%;
    margin-bottom: 3%;
    font-size: 20px;
}

.mid{
    overflow: auto;
    clear: both;
    margin-left: 40%;
    width: 50%;
}

.name{
    margin-left: 30%;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.name div{
    float: left;
    margin-right: 10%;
}

.pass{
    margin-top: 5%;
    margin-bottom: 5%;
}

.date{
    margin-top: 5%;
    margin-bottom: 5%;
}


.email{
    margin-top: 5%;
    margin-bottom: 5%;
}

button{
    background-color: white;
   color: black;
    font-weight: bolder;
    cursor: pointer;
}